@import url(https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:400,700|Muli:400,400italic,300italic,300);
body {
  box-sizing: inherit;
  font-family: "Muli", sans-serif;
  color: #493831;
  font-weight: normal;
  background-image: url("../img/food_pattern.png"); }

h2 {
  margin: 0; }

h3 {
  font-size: 28px;
  margin: 5% 0 0 0;
  font-weight: normal; }

h4 {
  margin: 0;
  font-size: 25px;
  font-weight: normal; }

a {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #493831;
  border-bottom: 2px solid #493831;
  font-weight: normal; }

p {
  font-size: 20px;
  font-weight: normal; }

span {
  font-weight: normal; }

ul {
  margin: 0;
  padding: 0; }

li {
  display: inline-block;
  list-style-type: none;
  margin: 0; }

button {
  background: none;
  border: none; }

.see-more::after, .next-page::after {
  content: ">";
  margin-left: 10px;
  font-weight: lighter; }

.last-page::after {
  content: ">>";
  margin-left: 10px;
  font-weight: lighter; }

.facebook {
  background-image: url(../img/facebook.png);
  margin-right: 20px; }

.twitter {
  background-image: url(../img/twitter.png);
  margin-right: 30px; }

.social li {
  float: right;
  width: 40px;
  height: 40px;
  margin-top: 20px; }

footer {
  background: #493831;
  padding: 4% 0; }

footer p {
  font-weight: bold;
  margin: 0 3%; }

footer .social {
  margin-top: -54px; }

header, section, footer {
  margin: 0 auto;
  max-width: 1200px; }

h1 {
  margin: 100px 0;
  text-align: center; }

h1 a {
  font-size: 100px;
  font-family: "Oleo Script Swash Caps", serif;
  border-bottom: none; }

.logo {
  padding-right: 12px;
  background-color: #fdc7ae; }

.main-nav {
  background: #EA8676; }

.main-nav a {
  font-family: "Oleo Script Swash Caps", serif;
  color: #493831;
  display: inline-block;
  margin: 20px;
  overflow: hidden; }

.main-nav ul {
  overflow: hidden;
  height: 91px; }

.post-main {
  max-width: 900px; }

.post-preview img {
  max-width: 100%; }

.post-preview {
  max-width: 26%;
  margin: 3% 2% 0 0;
  padding: 2% 2.4%;
  background: #E8E7E6; }

.post-page {
  margin: 5% 0 20% 0;
  padding-left: 18%; }

.post-page li {
  padding: 0 2%;
  font-size: 30px; }

.read-more {
  background: #fff;
  border: 1px solid #535257;
  padding: 1% 10%;
  font-size: 20px; }

.updated {
  font-weight: bold;
  font-size: 18px;
  font-weight: normal; }

.updated-preview {
  color: #A4A3A5;
  font-size: 20px;
  font-weight: normal; }

.post-body {
  max-width: 800px;
  background: #E8E7E6;
  margin: 2.2% 0 10% 0;
  padding: 5% 3%; }

.post-body img {
  max-width: 100%;
  margin: 10% auto;
  display: block; }

.post-body .updated-preview {
  margin: 2% 0; }

.article-name {
  font-size: 60px; }

.author-email {
  font-size: 25px; }

.post-recent {
  margin-top: 2.3%;
  float: right;
  max-width: 20%;
  background: #E8E7E6;
  padding: 2% 2.5%; }

.post-recent a {
  font-size: 20px; }

.post-recent h3 {
  margin-bottom: 28px; }

.updated-preview {
  display: block;
  margin: 3% 0 20% 0; }

.see-more {
  float: right; }

/*# sourceMappingURL=style.css.map */
