// 
// Estilos para los elementos base y footer
//

body {
  box-sizing: inherit;
  font-family: $text-sans;
  background-image: url("../img/food_pattern.png");
}

h2 {
  margin: 0;
}

h3 {
  font-size: 28px;
  font-weight: normal;
}

h4 {
  margin: 0;
  font-size: 25px;
  font-weight: normal;
}

a {
  text-decoration: none;
  border-bottom: 2px solid $text-title;
  font-weight: normal;
}

p {
  font-size: 20px;
  font-weight: normal;
}

span {
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: block;
  list-style-type: none;
  margin: 0;
}

button {
  background: none;
  border: none;
}

footer {
  background: $background-color;
  overflow: hidden;
}

footer p {
  font-weight: bold;
}
