// 
// Estilos para los elementos base y footer
//

body {
  box-sizing: inherit;
  font-family: $text-sans;
  color: $text;
  font-weight: normal;
  background-image: url("../img/food_pattern.png");
}

h2 {
  margin: 0;
}

h3 {
  font-size: 28px;
  margin: 5% 0 0 0;
  font-weight: normal;
}

h4 {
  margin: 0;
  font-size: 25px;
  font-weight: normal;
}

a {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: $text;
  border-bottom: 2px solid $text;
  font-weight: normal;
}

p {
  font-size: 20px;
  font-weight: normal;
}

span {
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
}

button {
  background: none;
  border: none;
}

.see-more::after, .next-page::after {
  content: ">";
  margin-left: 10px;
  font-weight: lighter;
}

.last-page::after {
  content: ">>";
  margin-left: 10px;
  font-weight: lighter;
}

.facebook {
  background-image: url(../img/facebook.png);
  margin-right: 20px;
}

.twitter {
  background-image: url(../img/twitter.png);
  margin-right: 30px;
}

.social li{
  float: right;
  width: 40px;
  height: 40px;
  margin-top: 20px; 
}

footer {
  background: $background-color;
  padding: 4% 0;
}

footer p {
  font-weight: bold;
  margin: 0 3%;
}

footer .social {
  margin-top: -54px;
}