// 
// Estilos para los elementos base y footer
//

body {
  box-sizing: inherit;
  font-family: $text-sans;
  background-image: url("../img/food_pattern.png");
}

h2 {
  margin: 0;
}

h3 {
  font-size: 28px;
  font-weight: normal;
}

h4 {
  margin: 0;
  font-size: 25px;
  font-weight: normal;
}

a {
  text-decoration: none;
  border-bottom: 2px solid $text-title;
  font-weight: normal;
  color: $text-title;
}

p {
  font-size: 20px;
  font-weight: normal;
}

span {
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: block;
  list-style-type: none;
  margin: 0;
}

button {
  background: none;
  border: none;
}

footer {
  background: $background-post;
  overflow: hidden;
  padding: 4% 0 2.5% 0;
}

footer p {
  font-weight: bold;
  font-weight: bold;
  margin: 0 3%;
  color: $text-title;
  font-size: 15px;
}

section {
  overflow: hidden;
}

.see-more::after, .next-page::after {
  content: ">";
  margin-left: 10px;
  font-weight: lighter;
}

.last-page::after {
  content: ">>";
  margin-left: 10px;
  font-weight: lighter;
}

.read-more {
  border: 1.5px solid $background-color;
  padding: 2%;
  margin-bottom: 1%;
  font-weight: bold;
  display: inline-block;
}

.social {
  display: none;
  @media (min-width: 940px){
    display: block;
  }
}
.social li {
  float: right;
  width: 40px;
  height: 40px;
  margin-top: 20px;
  color: transparent;
}

.facebook {
  background-image: url(../img/facebook.png);
  margin-right: 20px;
}

.twitter {
  background-image: url(../img/twitter.png);
  margin-right: 30px;
}

footer .social {
  margin-top: -54px;
}