// 
// Variables
//

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:400,700|Muli:400,400italic,300italic,300);

// Font
$text-sans: 'Muli', sans-serif;
$text-serif: 'Oleo Script Swash Caps', serif;

// Colors 
$background-color: #493831; // cafe
$background-nav: #EA8676; // rosa
$background-post: #BE9583; // claro
$background-main-post: #E8E7E6; // gris
$text-title: #493831; // cafe
$text: #f2f2f2; // gris claro
