// 
// Variables
//

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600italic,700,700italic,600,300italic,300);

// Font 
$text-sans: 'Josefin Sans', sans-serif;

// Colors 
$background-color: #E8E7E6; // gris
$background-nav: #E8E7E6; // gris
$background-post-recent: #E8E7E6; // gris
$background-main-post: #E8E7E6; // gris
$text: #535257; // negro
$text-secondary: #A4A3A5; // gris claro
