//
// Estilos del header
//
.logo a{
  font-size: 50px;
}

.logo { 
  padding: 8% 3%;
}

.main-nav, .logo {
  background: $background-nav;
}

.main-nav li{
  padding: 2% 2%;
}

.main-nav ul {
  padding: 0 3%;
}