//
// Estilos del header
//
h1 {
  margin: 12% 0 8% 0;
  text-align: center;
}

h1 a{
  font-family: $text-serif;
  border-bottom: none;
  font-size: 50px;
  color: $text-title;
}

.main-nav {
	background: $background-nav;
}

.main-nav a {
	color: $text-title;
}

.main-nav li {
	margin-bottom: 5%;
	font-size: 25px;
  text-align: center;
}

