//
// Estilos de Preview Post
.post-preview {
	max-width: 900px;
}

.post-preview {
	background: $background-post;
	width: 288px;
	padding: 2%;
	margin: 10% auto;
	color: $text-title;
	@media (min-width: 640px){
		display: inline-block;
	}
}

.post-preview h3 {
	font-weight: bold;
	margin: 2% 0;
	display: inline-block;
}

.post-preview img {
  width: 100%;
}

.post-page {
	width: 80%;
  margin: 0 auto;
  text-align: center;
}
.next-page, .last-page {
	float: right;
	margin-top: 8%;
}


//
// Estilos de Main Post
//

.post-body {
  width: 90%;
  margin: 0 auto;
}

.post-body h2{
	font-size: 38px;
}

.post-body img{
  width: 95%;
  margin: 0 auto;
  display: block;
}

.post-body p{
	margin: 8% 0;
}